<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="400px" style="margin-top: 10vh">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="font-size: large">
          <mat-form-field fxFlex>
            <input matInput placeholder="Введите пароль" formControlName="pin" type="password">
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Вход</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
