<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Альтерком (Диск)</span>
  <span class="spacer"></span>
  <span *ngIf="(authService.authStatus$ | async)?.isAuthenticated">
    <span>{{(authService.authStatus$ | async)?.user.name}}</span>
  </span>
  <span *ngIf="!(authService.authStatus$ | async)?.isAuthenticated">
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
